/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2
#define NAV     3



/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/{
    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp TAB>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_bspc {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BSPC>;
        };

        combo_del {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp DEL>;
        };
    };
};

/ {
 
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q      &kp W      &kp E       &kp R       &kp T  &kp Y  &kp U       &kp I       &kp O      &kp P
    &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F &kp G  &kp H  &hm RSHFT J &hm RCTRL K &hm RALT L &hm RGUI RET
    &kp Z      &kp X      &kp C       &kp V       &kp B  &kp N  &kp M       &kp COMMA   &kp DOT
    &none      &kp LGUI   &kp LCTRL   &lt LOWER SPACE   &lt RAISE SPACE    &mo NAV      &kp FSLH   &none
            >;
        };
        
        raise {
            bindings = <
    &kp N1     &kp N2     &kp N3   &kp N4        &kp N5  &kp N6    &kp N7     &kp N8    &kp N9    &kp N0
    &trans     &none      &none    &none         &none   &kp GRAVE &kp MINUS  &kp EQUAL &kp SEMI  &kp SQT 
    &kp LSHFT  &none      &none    &none         &none   &none     &kp BSLH   &kp LBKT  &kp RBKT 
    &none      &trans     &trans         &trans        &trans              &trans       &trans     &none
            >;
        };

       lower {
            bindings = <
    &kp EXCL   &kp AT     &kp HASH  &kp DLLR  &kp PRCNT &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR
    &trans     &none      &none     &none     &none     &kp TILDE  &kp UNDER  &kp PLUS  &kp COLON &kp DQT 
    &kp LSHFT  &none      &none     &none     &none     &none      &kp PIPE   &kp LBRC  &kp RBRC 
    &none      &reset     &bootloader     &trans        &trans              &none       &trans    &none
            >;
        };
        

    nav {
            bindings = <
    &kp K_MUTE &kp C_VOL_DN &kp C_VOL_UP &none       &none   &none    &kp HOME    &kp UP     &kp END   &kp PG_UP
    &kp C_PREV &kp C_PP     &kp C_NEXT     &trans      &none   &none    &kp LEFT    &kp DOWN   &kp RIGHT &kp PG_DN
    &kp LSHFT  &kp LGUI   &kp LALT   &kp LCTRL   &bt BT_NXT   &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &bt BT_CLR
    &none      &none      &none         &trans        &trans                  &none      &to DEFAULT    &none
            >;
        };
    };
};
